<!-- home.html -->

{% extends "base.html" %} {% load staticfiles %} {% block title %}Welcome to Rent.Buy.Sell.Auction?{% endblock %} {% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css '%}" /> {% endblock %} {% block content %}

<h1> Welcome {{ user.username }} !!! </h1>

<div class="search">
    <input type="checkbox" name="rent" value="rent" id="rent"><label for="rent"> Looking to Rent</label>
    <input type="checkbox" name="buy" value="buy" id="buy"><label for="buy"> I am Buying</label>
    <input type="checkbox" name="sell" value="sell" id="sell"><label for="sell"> I am Selling</label>
    <input type="checkbox" name="auction" value="auction" id="auction"><label for="auction"> Looking for Auctions</label>
    <form action='#'>

        <div class="col-sm-12">
            <div class="row" style="margin-right: -260px;">
                <div class="col-xs-6 col-sm-6" style="margin-right: -100px;">
                    <label>Min Price:</label><input type="number" name="quantity" min="1" max="10000" style="width:80px;">
                </div>
                <div class="col-xs-6 col-sm-6" style="margin-left: -150px;">
                    <label>Max Price:</label><input type="number" name="quantity" min="1" max="10000" style="width:80px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11"><input type="text" name="search" placeholder="Search for Products" style="width:520px;" /></div>
            <div class="col-md-1">
                <button type="submit" value="submit" id="submit-product-button" style="">Submit</button></div>
        </div>

    </form>

</div>

<button type="button" onclick="window.location.href='/logout/' ">Logout</button> {% endblock %}
