{% extends "default.html" %}
{% block header %}
{% include 'sidenav.html' %}
{% endblock %}

{% block  main %}

{% include 'search_bar.html' %}
<div class="row">
    <div class="col s8 offset-s3">
        <form>
                        {% csrf_token %}
            <div class="col s12">
                <div class="input-field col s6">
                <input id="add" name="add" type="text" >
                <label class="active " for="add" data-success="">Add Money</label>

            </div>
            <button class="btn">Add $ </button>
            </div>


<div class="col s12">
    <div class="input-field col s6">
                <input id="withdraw" name="withdraw" type="text" >
                <label class="active " for="withdraw" data-success="">Withdraw Money</label>

            </div>
            <button class="btn">Withdraw $ </button>
</div>



        </form>
    </div>
</div>

{% endblock %}