{% extends 'default.html' %}

{% block header %}
<!--{% if user.is_authenticated %}-->
{% include 'sidenav.html' %}
<!--{% endif %}-->
{% endblock %}


{% block main %}
{% include 'search_bar.html' %}

<div class="row">
    <div class="col s8 offset-s3">
        <h5>Item: {{ product.title }}</h5>
        <h6>Current Price: $ {{ product.price }}</h6>
        <h6>Auction Ends: {{ product.takedown_date }} ,{{ product.takedown_time }}</h6>

        <h6>Seller: {{ product.seller }}</h6>
        <h6>Item is for :{{ option }}</h6>
        <h6>Description: {{ product.text }}</h6>


        <div class=" col s12">
            <form method="POST" action="{% url 'item-auction' %}">
                {% csrf_token %}

                <div class=" input-field col s2">

                    <input type="number" id="bidamount" name='bidamount'/> Bid Amount

                </div>
                <button type="submit" class="waves-effect waves-light btn" name='pk' value="{{ product_pk }}"> Make a
                    bid
                </button>
            </form>

        </div>
        <h6>Comments:</h6>
        {% for comment in item_comments %}
        <h6> {{ comment }} </h6>
        {% endfor %}
    </div>


</div>

{% endblock %}