{% extends "default.html" %}
{% block header %}
{% include 'sidenav.html' %}
{% endblock %}

{% block  main %}

{% include 'search_bar.html' %}
<div class="row">
    <div class="col s8 offset-s3">

        <h5> Item Sale</h5>
        <h5> Item Price</h5>
        <div class="divider"></div>

    </div>
    {% endfor %}
    <div class="col s8 offset-s3">

    <div class=" col s6">
            <button class="btn waves-effect waves-light btn-large" type="submit" name="cancel">Cancel
            </button>

        </div>
      <div class=" col s6">
            <button class="btn waves-effect waves-light btn-large" type="submit" name="checkout">Checkout
            </button>

        </div>
    </div>
        </div>


</div>
{% endblock %}