{% extends "default.html" %}
{% block header %}
{% include 'sidenav.html' %}
{% endblock %}

{% block  main %}

{% include 'search_bar.html' %}

<div class="row">
{% for listing in listings %}
    <div class="col s8 offset-s2">
        <ul class="collection">
            <li class="collection-item">
                <div> {{ listing.item }}
                    <div class="secondary-content">
                        <form method="post">
                            {% csrf_token %}
                            <button class="waves-effect waves-light btn" name="remove" value = "{{ listing.pk }}"> Remove
                            </button>
                        </form>

                    </div>
                </div>
            </li>
        </ul>
    </div>

   {% endfor %}



</div>

{% endblock %}