{% extends 'default.html' %}
{% block header %}
{% if user.is_authenticated %}
{% include 'sidenav.html' %}
{% endif %}
{% endblock %}

{% block main %}
<div class="row">
    {% if not user.is_authenticated %}
	<div class="row center-align">
		<br>

		<div class="col s12">
			<div class="container center-align">

				<a class="waves-effect waves-light btn" href="{% url 'login' %}">Sign in </a>
				<a class="waves-effect waves-light btn" href="{% url 'register' %}">Register</a>


			</div>
		</div>

		<br>

	</div>
    {% endif %}
    {% include 'search_bar.html' %}
</div>

{% endblock %}
