{% extends 'default.html' %}
{% block header %}
{% if user.is_authenticated %}
    {% include 'sidenav.html' %}
{% endif %}
{% endblock %}

{% block main %}
{% include 'search_bar.html' %}

<div class="row">
    <div class="col s8 offset-s3">
        <h5>Item: {{ product.title }}</h5>
        <h6>Price: {{ product.price }}</h6>
        <h6>Seller: {{ product.seller }}</h6>
        <h6>Seller Rating : {{ product.seller.rbs_rating }}</h6>

        <h6>Item is for: {{ option }}</h6>
        <h6>This item will be taken down on: {{ product.takedown_date }} at
            {{ product.takedown_time }}</h6>
        <h6>Description: {{ product.text }}</h6>
        <div class=" col s12">
            <form method="POST" action="{% url 'cart' %}">
                {% csrf_token %}
                <button class="waves-effect waves-light btn"
                        name="add_to_cart" value="{{ product_pk }}">
                    Add to Cart
                    <i class="material-icons right">shopping_cart</i>
                </button>
            </form>
        </div>
            <form method="POST" action="{% url 'details' %}">
                {% csrf_token %}
                <label for="new_comment">ADD COMMENT:</label>
                <input id="new_comment" name="new_comment" type="text"
                       placeholder="Write a comment for this product">
                <button class="waves-effect waves-light btn"
                        name="add_comment" value="{{ product_pk }}">
                    Add a Comment
                </button>
            </form>
        <h6>Comments:</h6> {% for comment in comments %}
        <h6> {{ comment }} </h6> {% endfor %}
    </div>
</div>
{% endblock %}
