{% extends "default.html" %}
{% block header %}
{% include 'sidenav.html' %}
{% endblock %}

{% block  main %}

{% include 'search_bar.html' %}
<div class="row">
    <div class="col s8 offset-s3">
        <h5>Previous Orders</h5>
    </div>
{% for order in previous_orders %}
    <div class="col s8 offset-s3">
        <div>
            {{ order.item }}
        </div>
        <div>
            {{ order.seller }}

        </div>
        <form>
            {% csrf_token %}

            <div class=" input-field col s4">
                <select class="browser-default">
                    <option value="" disabled selected>Rating for Seller</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
                <button class="btn waves-effect waves-light btn" type="submit" name="action">Submit Rating
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
        <br>
        <div class="col s12 divider"></div>

    </div>
    {% endfor %}


</div>
{% endblock %}