<div class="row center">
    <form id="search-form" class=" input-field col s8 offset-s3" method="get" action="{% url 'results' %}" >
        {% csrf_token %}
        <div class="row">
            <div class="col s8">
                <input id="search_input" name="query" >
                <label for="search_input">Search</label>
            </div>
            <div class="col s4">
                <button class="waves-effect waves-light btn" type="submit">Submit</button>
            </div>
        </div>
        <div class="row">
            <fieldset class="col s12">
            <legend>Options</legend>
              <div class="col s3">
              <input type="radio"
                     name="method"
                     id="buy"
                     value="B"
                     checked="buy" />
              <label for="buy">Buy It Now</label>
              </div>
              <div class="col s2">
              <input type="radio"
                     name="method"
                     id="rent"
                     value="R" />
              <label for="rent">Rent</label>
              </div>
              <div class="col s2">
              <input type="radio"
                     name="method"
                     id="auction"
                     value="A" />
              <label for="auction">Auction</label>
              </div>

            <div class=" input-field col s2">
                <input type="number" id="minprice" name="minprice" value="0"
                       min="0" max="99999.99"/>
                Min Price
            </div>
            <div class=" input-field col s2">
                <input type="number" id="maxprice" name="maxprice" value="100"
                       min="0"
                       max="99999.99"/>
                Max Price
            </div>
            </fieldset>
        </div>
    </form>
</div>
<div class="divider"></div>
<br>
