{% extends "default.html" %}
{% block header %}
{% include 'sidenav.html' %}
{% endblock %}

{% block  main %}
{% include 'search_bar.html' %}
<div class="row center">
    <form id="sell-form" class="col s6 offset-s3" method="post" action="{{ process_sell_post }}">
        {% csrf_token %}

        <div class="row">
            <div class="col s8 offset-s2">
                <h6>Rent/Sell/Auction an item</h6>
                <h6>You must fill out all of the fields</h6>

            </div>

            <div class="input-field col s12">
                <input id="item" name="item" type="text">
                <label class="active " for="item" data-success="">Item Name * </label>

            </div>
            <div class="col s12">
                <label>Select Rent|Buy Now|Auction</label>
                <select id = 'buy_select' name = 'sell_select' class="browser-default">
                    <option value="B">Buy Now</option>
                    <option value="R">Rent</option>
                    <option value="A">Auction</option>
                </select>
            </div>

            <div class="input-field col s12">
                <input id="price" name="price" type="text">
                <label class="active " for="price">Price * </label>

            </div>
            <div class="input-field col s12">
                <input id="quantity" name="quantity" type="number">
                <label class="active " for="quantity">Quantity * </label>
            </div>
            <div class="input-field col s12">
                <input id="daymonth" type="date" class="datepicker" name="daymonth">
                <label class="active " for="daymonth">Takedown Listing on Date * </label>

            </div>
            <div class="input-field col s12">
                <input id="time" type="time" name="time">
                <label class="active " for="time">Takedown Listing at Time * </label>

            </div>
            <div class="input-field col s12">
                <input id="description" name="description" type="text">
                <label class="active " for="description">Product Description * </label>
            </div>
        </div>


        <div class=" col s12">
            <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>

        </div>
    </form>
</div>


{% endblock %}