<ul id="slide-out resize-on-med" class="side-nav fixed">
    <br>
    <div class="container">
        <i class="small material-icons left">perm_identity</i>
        {{ username }}
    </div>

    <br />

    <div class="container">
        <i class="small material-icons left">local_atm</i>
        {{ money }}
    </div>
    <br>
    <br>

    <li class="">
        <a href="{% url 'sell' %}">
            <i class="small material-icons left">shop_two</i>
            Sell Item
        </a>
    </li>
    <li>
        <a href="{% url 'cart' %}">
            <i class="small material-icons left">shopping_cart</i>
            View Cart
        </a>
    </li>
    <li>
        <a href="{% url 'orders' %}">
            <i class="small material-icons left">restore</i>
            Previous Orders
        </a>
    </li>
    <li>
        <a href="{% url 'update' %}">
            <i class="small material-icons left">assignment_ind</i>
            Update Account
        </a>
    </li>
    <li>
        <a href="{% url 'add_withdraw' %}">
            <i class="small material-icons left">payment</i>
            Add/Withdraw
        </a>
    </li>
    <li><a href="{% url 'edit' %}">
        <i class="small material-icons left">mode_edit</i>
        Edit Listings
        </a>
    </li>
    <li><a href="{% url 'complaint' %}">
        <i class="small material-icons left">thumb_down</i>
        File Complaint
        </a>
    </li>
    <li><a href="{% url 'logout' %}">
        <i class="small material-icons left">
            power_settings_new</i>
        Logout
        </a>
    </li>


</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
