{% extends "default.html" %} {% block header %} {% include 'sidenav.html' %} {% endblock %} {% block main %} {% include 'search_bar.html' %}
<div class="row center">
    <form id="update-form" class="col s6 offset-s3" method="post" action="{{ process_update }}">
        {% csrf_token %}
        <h3>Update Information</h3> {{ noodle_form.as_p }}

        <div class="row">

            {{ formset.management_form }} {{ formset.as_p }}
            {% if vip_user is True %}
            <h3>
                YAY, you are a RBS verified VIP user!
            </h3>
            {% else %}
            <h3>
                You have not reached VIP status!
            </h3>
            {% endif %}
            <div class=" col s12">
                <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>

            </div>
    </form>

    </div>
    {% endblock %}
