{% extends 'default.html' %}

{% block header %}
{% include 'sidenav.html' %}
{% endblock %}


{% block main %}
{% include 'search_bar.html' %}

<div class="row">
    <div class="col s8 offset-s3">
        <h5>Item Name</h5>
        <h6>Item Price</h6>
        <h6>Seller</h6>
        <h6>Item is for [rbs]</h6>
        <h6>Item description</h6>


         <div class=" col s12">
            <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Add Item to Cart
                <i class="material-icons right">shopping_cart</i>
            </button>

        </div>

           <h6>Comments:</h6>
        {% for comment in item_comments %}
        <h6> {{ comment }} </h6>
        {% endfor %}
    </div>


</div>
</div>

</div>
{% endblock %}