{% extends 'default.html' %}

{% block header %}
{% if user.is_authenticated %}
{% include 'sidenav.html' %}
{% endif %}
{% endblock %}


{% block main %}
{% include 'search_bar.html' %}

<div class="row">
    <div class="col s8 offset-s3">
        <h5>Item: {{ item }}</h5>
        <h6>Price: {{ price }}</h6>
        <h6>Seller: {{ seller }}</h6>
        <h6>Item is for :{{ option }}</h6>
        <h6>This item will be taken down on: {{ date }} ,{{ time }}</h6>

        <h6>Description: {{ description }}</h6>


        <div class=" col s12">
            <form method="POST" action="{% url 'cart' %}">
                {% csrf_token %}

                <button class="waves-effect waves-light btn" name='pk' value="{{ product_pk }}"> Add Item to Cart
                    <i class="material-icons right">shopping_cart</i>
                </button>
            </form>

        </div>
        <h6>Comments:</h6>
        {% for comment in item_comments %}
        <h6> {{ comment }} </h6>
        {% endfor %}
    </div>


</div>
</div>

</div>
{% endblock %}