{% extends 'default.html' %}

{% block header %}
{% if user.is_authenticated %}
{% include 'sidenav.html' %}
{% endif %}
{% endblock %}


{% block main %}
{% include 'search_bar.html' %}

<div class="row">
    <div class="col s8 offset-s3">
        <h5>Item: {{ item }}</h5>
        <h6>Current Price: {{ price }}</h6>
        <h6>Auction Ends: {{ date }} ,{{ time }}</h6>

        <h6>Seller: {{ seller }}</h6>
        <h6>Item is for :{{ option }}</h6>
        <h6>Description: {{ description }}</h6>


        <div class=" col s12">
            <form method="POST">
                {% csrf_token %}

                <div class=" input-field col s2">

                    <input type="number" id="bidamount" name='bidamount'/> Bid Amount

                </div>
                <button class="waves-effect waves-light btn" name='pk' value="{{ product_pk }}"> Make a bid
                </button>
            </form>

        </div>
        <h6>Comments:</h6>
        {% for comment in item_comments %}
        <h6> {{ comment }} </h6>
        {% endfor %}
    </div>


</div>
</div>

</div>
{% endblock %}